table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
   
}

th,
td {
    border: 1px solid rgb(239, 239, 239);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    display: flex;


}

.pagination_button {
    padding: 4px;
    cursor: pointer;
}

.pagination_page_number{
    margin:0px 15px;
}